[
  {
    "fields": [
      {
        "mode": "REQUIRED",
        "name": "nested_field",
        "type": "STRING",
        "description": "A description."
      }
    ],
    "mode": "NULLABLE",
    "name": "field",
    "type": "RECORD",
    "description": "A description."
  },
  {
    "mode": "REPEATED",
    "name": "repeated_field",
    "type": "INTEGER",
    "description": "A description."
  }
]