swagger: '2.0'
info:
  title: Observatory API
  description: |
    The REST API for managing and accessing data from the Observatory Platform.
  version: 1.0.0
  contact:
    email: agent@observatory.academy
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

{# API Client specific settings #}
{%- if api_client %}
host: api.observatory.academy
schemes:
  - https
produces:
  - application/json
securityDefinitions:
  # This section configures basic authentication with an API key.
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"
security:
  - api_key: []
{%- endif %}

{# Cloud Endpoints specific settings #}
{%- if cloud_endpoints %}
host: ${host}
x-google-backend:
  address: ${backend_address}
  protocol: h2
schemes:
  - https
produces:
  - application/json
securityDefinitions:
  # This section configures basic authentication with an API key.
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"
security:
  - api_key: []
{%- endif %}

{# Tag settings #}
{%- if api_client %}
tags:
- name: Observatory
  description: the Observatory API
{%- set reports_tag="Observatory" -%}
{%- set organisation_tag="Observatory" -%}
{%- set telescope_tag="Observatory" -%}
{%- set telescope_type_tag="Observatory" -%}
{%- set dataset_storage_tag="Observatory" -%}
{%- set dataset_release_tag="Observatory" -%}
{%- set dataset_tag="Observatory" -%}
{%- set bigquery_bytes_processed_tag="Observatory" -%}
{% else %}
tags:
- name: Reports
  description: Query data to build Open Access reports.
- name: Organisation
  description: Create, read, update, delete and list information about organisations.
- name: Telescope
  description: Create, read, update, delete and list information about telescopes.
- name: TelescopeType
  description: Create, read, update, delete and list information about the type of telescopes that exist.
- name: DatasetStorage
  description: Create, read, update, delete and list information about the dataset storage info.
- name: DatasetRelease
  description: Create, read, update, delete and list information about the dataset release info.
- name: Dataset
  description: Create, read, update, delete and list information about the dataset info.
- name: BigQueryBytesProcessed
  description: Create, read, update, delete and list information about the number of bytes processed in BigQuery Query jobs.
{%- set reports_tag="Reports" -%}
{%- set organisation_tag="Organisation" -%}
{%- set telescope_tag="Telescope" -%}
{%- set telescope_type_tag="TelescopeType" -%}
{%- set dataset_storage_tag="DatasetStorage" -%}
{%- set dataset_release_tag="DatasetRelease" -%}
{%- set dataset_tag="Dataset" -%}
{%- set bigquery_bytes_processed_tag="BigQueryBytesProcessed" -%}
{%- endif %}

{# Operation id namespace #}
{%- if api_client %}
{%- set operation_id_namespace="" -%}
{% else %}
{%- set operation_id_namespace="observatory.api.server.api." -%}
{%- endif %}

paths:
  /v1/query:
    get:
      operationId: {{ operation_id_namespace }}queryv1
      tags:
        - {{ reports_tag }}
      summary: Search the Observatory API
      description: Search the Observatory API
      parameters:
        - in: query
          name: agg
          description: The aggregation level
          required: true
          enum:
            - author
            - country
            - funder
            - group
            - institution
            - publisher
          type: string
        - name: subset
          in: query
          description: The required subset
          required: true
          enum:
            - citations
            - collaborations
            - disciplines
            - events
            - funders
            - journals
            - oa-metrics
            - output-types
            - publishers
          type: string
        - name: index_date
          in: query
          description: Index date, defaults to latest
          required: false
          format: date
          type: string
        - name: from
          in: query
          description: Start year (included)
          required: false
          type: integer
          minimum: 4
          maximum: 4
        - name: to
          in: query
          description: End year (not included)
          required: false
          type: integer
          minimum: 4
          maximum: 4
        - name: limit
          in: query
          description: Limit number of results (max 10000)
          required: false
          type: integer
          maximum: 10000
        - name: scroll_id
          in: query
          description: The scroll id
          required: false
          type: string
        - name: pit_id
          in: query
          description: The PIT id
          required: false
          type: string
        - name: search_after_no
          in: query
          description: The search after key
          required: false
          type: integer
        - name: search_after_text
          in: query
          description: The search after key
          required: false
          type: string
        {% for param in query_filter_parameters %}
        - name: {{ param }}
          in: query
          type: array
          items:
            type: string
          collectionFormat: multi
        {% endfor %}
      responses:
        200:
          description: Successfully return query results
          schema:
            $ref: '#/definitions/QueryResponse'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
      produces:
        - application/json

  /v1/telescope_type:
    get:
      tags:
      - {{ telescope_type_tag }}
      summary: get a TelescopeType
      operationId: {{ operation_id_namespace }}get_telescope_type
      description: |
        Get the details of a TelescopeType by passing it's id or type_id.
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: TelescopeType id
        required: false
        type: integer
      - in: query
        name: type_id
        description: TelescopeType type_id
        required: false
        type: string
      responses:
        200:
          description: the fetched TelescopeType
          schema:
            $ref: '#/definitions/TelescopeType'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    post:
      tags:
      - {{ telescope_type_tag }}
      summary: create a TelescopeType
      operationId: {{ operation_id_namespace }}post_telescope_type
      description: |
        Create a TelescopeType by passing a TelescopeType object, without an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: TelescopeType to create
        required: true
        schema:
          $ref: '#/definitions/TelescopeType'
      responses:
        201:
          description: TelescopeType created, returning the created object with an id
          schema:
            $ref: '#/definitions/TelescopeType'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    put:
      tags:
      - {{ telescope_type_tag }}
      summary: create or update a TelescopeType
      operationId: {{ operation_id_namespace }}put_telescope_type
      description: |
        Create a TelescopeType by passing a TelescopeType object, without an id. Update an existing TelescopeType by
        passing a TelescopeType object with an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: TelescopeType to create or update
        required: true
        schema:
          $ref: '#/definitions/TelescopeType'
      responses:
        200:
          description: TelescopeType updated
          schema:
            $ref: '#/definitions/TelescopeType'
        201:
          description: TelescopeType created, returning the created object with an id
          schema:
            $ref: '#/definitions/TelescopeType'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    delete:
      tags:
      - {{ telescope_type_tag }}
      summary: delete a TelescopeType
      operationId: {{ operation_id_namespace }}delete_telescope_type
      description: |
        Delete a TelescopeType by passing it's id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: TelescopeType id
        required: true
        type: integer
      responses:
        200:
          description: TelescopeType deleted
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/telescope_types:
    get:
      tags:
      - {{ telescope_type_tag }}
      summary: Get a list of TelescopeType objects
      operationId: {{ operation_id_namespace }}get_telescope_types
      description: |
        Get a list of TelescopeType objects
      produces:
      - application/json
      parameters:
      - in: query
        name: limit
        description: the maximum number of results to return
        required: true
        type: integer
      responses:
        200:
          description: a list of TelescopeType objects
          schema:
            type: array
            items:
              $ref: '#/definitions/TelescopeType'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/telescope:
    get:
      tags:
      - {{ telescope_tag }}
      summary: get a Telescope
      operationId: {{ operation_id_namespace }}get_telescope
      description: |
        Get the details of a Telescope by passing it's id.
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: Telescope id
        required: true
        type: integer
      responses:
        200:
          description: the fetched Telescope
          schema:
            $ref: '#/definitions/Telescope'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    post:
      tags:
      - {{ telescope_tag }}
      summary: create a Telescope
      operationId: {{ operation_id_namespace }}post_telescope
      description: |
        Create a Telescope by passing a Telescope object, without an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Telescope to create
        required: true
        schema:
          $ref: '#/definitions/Telescope'
      responses:
        201:
          description: Telescope created, returning the created object with an id
          schema:
            $ref: '#/definitions/Telescope'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    put:
      tags:
      - {{ telescope_tag }}
      summary: create or update a Telescope
      operationId: {{ operation_id_namespace }}put_telescope
      description: |
        Create a Telescope by passing a Telescope object, without an id. Update an existing Telescope by
        passing a Telescope object with an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Telescope to create or update
        required: true
        schema:
          $ref: '#/definitions/Telescope'
      responses:
        200:
          description: Telescope updated
          schema:
            $ref: '#/definitions/Telescope'
        201:
          description: Telescope created, returning the created object with an id
          schema:
            $ref: '#/definitions/Telescope'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    delete:
      tags:
      - {{ telescope_tag }}
      summary: delete a Telescope
      operationId: {{ operation_id_namespace }}delete_telescope
      description: |
        Delete a Telescope by passing it's id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: Telescope id
        required: true
        type: integer
      responses:
        200:
          description: Telescope deleted
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/telescopes:
    get:
      tags:
      - {{ telescope_tag }}
      summary: Get a list of Telescope objects
      operationId: {{ operation_id_namespace }}get_telescopes
      description: |
        Get a list of Telescope objects and optionally filter via a Telescope id and or an Organisation id.
      produces:
      - application/json
      parameters:
      - in: query
        name: telescope_type_id
        description: filter telescopes by a TelescopeType id
        required: false
        type: integer
      - in: query
        name: organisation_id
        description: filter telescopes by an Organisation id
        required: false
        type: integer
      - in: query
        name: limit
        description: the maximum number of results to return
        required: true
        type: integer
      responses:
        200:
          description: a list of Telescope objects
          schema:
            type: array
            items:
              $ref: '#/definitions/Telescope'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/organisation:
    get:
      tags:
        - {{ organisation_tag }}
      summary: get an Organisation
      operationId: {{ operation_id_namespace }}get_organisation
      description: |
        Get the details of an Organisation by passing its id.
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: Organisation id
        required: true
        type: integer
      responses:
        200:
          description: the fetched Organisation
          schema:
            $ref: '#/definitions/Organisation'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    post:
      tags:
        - {{ organisation_tag }}
      summary: create an Organisation
      operationId: {{ operation_id_namespace }}post_organisation
      description: |
        Create an Organisation by passing an Organisation object, without an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Organisation to create
        required: true
        schema:
          $ref: '#/definitions/Organisation'
      responses:
        201:
          description: Organisation created, returning the created object with an id
          schema:
            $ref: '#/definitions/Organisation'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    put:
      tags:
        - {{ organisation_tag }}
      summary: create or update an Organisation
      operationId: {{ operation_id_namespace }}put_organisation
      description: |
        Create an Organisation by passing an Organisation object, without an id. Update an existing Organisation by
        passing an Organisation object with an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Organisation to create or update
        required: true
        schema:
          $ref: '#/definitions/Organisation'
      responses:
        200:
          description: Organisation updated
          schema:
            $ref: '#/definitions/Organisation'
        201:
          description: Organisation created, returning the created object with an id
          schema:
            $ref: '#/definitions/Organisation'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    delete:
      tags:
        - {{ organisation_tag }}
      summary: delete an Organisation
      operationId: {{ operation_id_namespace }}delete_organisation
      description: |
        Delete an Organisation by passing it's id.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: id
          description: Organisation id
          required: true
          type: integer
      responses:
        200:
          description: Organisation deleted
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/organisations:
    get:
      tags:
        - {{ organisation_tag }}
      summary: Get a list of Organisations
      operationId: {{ operation_id_namespace }}get_organisations
      description: |
        Gets a list of organisations
      produces:
      - application/json
      parameters:
      - in: query
        name: limit
        description: the maximum number of results to return
        required: true
        type: integer
      responses:
        200:
          description: a list of Organisation objects
          schema:
            type: array
            items:
              $ref: '#/definitions/Organisation'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/dataset_storage:
    get:
      tags:
      - {{ dataset_storage_tag }}
      summary: get a DatasetStorage
      operationId: {{ operation_id_namespace }}get_dataset_storage
      description: |
        Get the details of a DatasetStorage by passing it's id or dataset id.
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: DatasetStorage id
        required: true
        type: integer
      responses:
        200:
          description: the fetched DatasetStorage
          schema:
            $ref: '#/definitions/DatasetStorage'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    post:
      tags:
      - {{ dataset_storage_tag }}
      summary: create a DatasetStorage
      operationId: {{ operation_id_namespace }}post_dataset_storage
      description: |
        Create a DatasetStorage by passing a DatasetStorage object, without an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: DatasetStorage to create
        required: true
        schema:
          $ref: '#/definitions/DatasetStorage'
      responses:
        201:
          description: DatasetStorage created, returning the created object with an id
          schema:
            $ref: '#/definitions/DatasetStorage'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    put:
      tags:
      - {{ dataset_storage_tag }}
      summary: create or update a DatasetStorage
      operationId: {{ operation_id_namespace }}put_dataset_storage
      description: |
        Create a DatasetStorage by passing a DatasetStorage object, without an id. Update an existing DatasetStorage by
        passing a DatasetStorage object with an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: DatasetStorage to create or update
        required: true
        schema:
          $ref: '#/definitions/DatasetStorage'
      responses:
        200:
          description: DatasetStorage updated
          schema:
            $ref: '#/definitions/DatasetStorage'
        201:
          description: DatasetStorage created, returning the created object with an id
          schema:
            $ref: '#/definitions/DatasetStorage'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    delete:
      tags:
      - {{ dataset_storage_tag }}
      summary: delete a DatasetStorage
      operationId: {{ operation_id_namespace }}delete_dataset_storage
      description: |
        Delete a DatasetStorage by passing it's id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: DatasetStorage id
        required: true
        type: integer
      responses:
        200:
          description: DatasetStorage deleted
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/dataset_storages:
    get:
      tags:
      - {{ dataset_storage_tag }}
      summary: Get a list of DatasetStorage objects
      operationId: {{ operation_id_namespace }}get_dataset_storages
      description: |
        Get a list of DatasetStorage objects
      produces:
      - application/json
      parameters:
      - in: query
        name: limit
        description: the maximum number of results to return
        required: true
        type: integer
      - in: query
        name: dataset_id
        description: the dataset_id to filter for.
        required: false
        type: integer
      responses:
        200:
          description: a list of DatasetStorage objects
          schema:
            type: array
            items:
              $ref: '#/definitions/DatasetStorage'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
 
  /v1/dataset_release:
    get:
      tags:
      - {{ dataset_release_tag }}
      summary: get a DatasetRelease
      operationId: {{ operation_id_namespace }}get_dataset_release
      description: |
        Get the details of a DatasetRelease by passing it's id.
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: DatasetRelease id
        required: true
        type: integer
      responses:
        200:
          description: the fetched DatasetRelease
          schema:
            $ref: '#/definitions/DatasetRelease'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    post:
      tags:
      - {{ dataset_release_tag }}
      summary: create a DatasetRelease
      operationId: {{ operation_id_namespace }}post_dataset_release
      description: |
        Create a DatasetRelease by passing a DatasetRelease object, without an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: DatasetRelease to create
        required: true
        schema:
          $ref: '#/definitions/DatasetRelease'
      responses:
        201:
          description: DatasetRelease created, returning the created object with an id
          schema:
            $ref: '#/definitions/DatasetRelease'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    put:
      tags:
      - {{ dataset_release_tag }}
      summary: create or update a DatasetRelease
      operationId: {{ operation_id_namespace }}put_dataset_release
      description: |
        Create a DatasetRelease by passing a DatasetRelease object, without an id. Update an existing DatasetRelease by
        passing a DatasetRelease object with an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: DatasetRelease to create or update
        required: true
        schema:
          $ref: '#/definitions/DatasetRelease'
      responses:
        200:
          description: DatasetRelease updated
          schema:
            $ref: '#/definitions/DatasetRelease'
        201:
          description: DatasetRelease created, returning the created object with an id
          schema:
            $ref: '#/definitions/DatasetRelease'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    delete:
      tags:
      - {{ dataset_release_tag }}
      summary: delete a DatasetRelease
      operationId: {{ operation_id_namespace }}delete_dataset_release
      description: |
        Delete a DatasetRelease by passing it's id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: DatasetRelease id
        required: true
        type: integer
      responses:
        200:
          description: DatasetRelease deleted
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/dataset_releases:
    get:
      tags:
      - {{ dataset_release_tag }}
      summary: Get a list of DatasetRelease objects
      operationId: {{ operation_id_namespace }}get_dataset_releases
      description: |
        Get a list of DatasetRelease objects
      produces:
      - application/json
      parameters:
      - in: query
        name: limit
        description: the maximum number of results to return
        required: true
        type: integer
      - in: query
        name: dataset_id
        description: the dataset_id to fetch release info for
        required: false
        type: integer
      responses:
        200:
          description: a list of DatasetRelease objects
          schema:
            type: array
            items:
              $ref: '#/definitions/DatasetRelease'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/dataset:
    get:
      tags:
        - {{ dataset_tag }}
      summary: get a Dataset
      operationId: {{ operation_id_namespace }}get_dataset
      description: |
        Get the details of a Dataset by passing its id.
      produces:
      - application/json
      parameters:
      - in: query
        name: id
        description: Dataset id
        required: true
        type: integer
      responses:
        200:
          description: the fetched Dataset
          schema:
            $ref: '#/definitions/Dataset'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    post:
      tags:
        - {{ dataset_tag }}
      summary: create a Dataset
      operationId: {{ operation_id_namespace }}post_dataset
      description: |
        Create a Dataset by passing a Dataset object, without an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Dataset to create
        required: true
        schema:
          $ref: '#/definitions/Dataset'
      responses:
        201:
          description: Dataset created, returning the created object with an id
          schema:
            $ref: '#/definitions/Dataset'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    put:
      tags:
        - {{ dataset_tag }}
      summary: create or update a Dataset
      operationId: {{ operation_id_namespace }}put_dataset
      description: |
        Create a Dataset by passing a Dataset object, without an id. Update an existing Dataset by
        passing an Dataset object with an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Dataset to create or update
        required: true
        schema:
          $ref: '#/definitions/Dataset'
      responses:
        200:
          description: Dataset updated
          schema:
            $ref: '#/definitions/Dataset'
        201:
          description: Dataset created, returning the created object with an id
          schema:
            $ref: '#/definitions/Dataset'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    delete:
      tags:
        - {{ dataset_tag }}
      summary: delete a Dataset
      operationId: {{ operation_id_namespace }}delete_dataset
      description: |
        Delete a Dataset by passing it's id.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: id
          description: Dataset id
          required: true
          type: integer
      responses:
        200:
          description: Dataset deleted
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/datasets:
    get:
      tags:
        - {{ dataset_tag }}
      summary: Get a list of Datasets
      operationId: {{ operation_id_namespace }}get_datasets
      description: |
        Gets a list of datasets
      produces:
      - application/json
      parameters:
      - in: query
        name: limit
        description: the maximum number of results to return
        required: true
        type: integer
      - in: query
        name: telescope_id
        description: Dataset id to filter by
        required: false
        type: integer
      responses:
        200:
          description: a list of Dataset objects
          schema:
            type: array
            items:
              $ref: '#/definitions/Dataset'
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

  /v1/bigquery_bytes_processed:
    get:
      tags:
      - {{ bigquery_bytes_processed_tag }}
      summary: get a BigQueryBytesProcessed
      operationId: {{ operation_id_namespace }}get_bigquery_bytes_processed
      description: |
        Get the total bytes processed by a BigQuery project for the last 24 hours.
      produces:
      - application/json
      parameters:
      - in: query
        name: project
        description: the project id
        required: true
        type: string
      responses:
        200:
          description: the fetched BigQueryBytesProcessed
          schema:
            type: integer
            description: The total number of BigQuery bytes used for the project in the last 24 hours
            example: 126538
        400:
          description: bad input parameter
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'
    post:
      tags:
      - {{ bigquery_bytes_processed_tag }}
      summary: create a BigQueryBytesProcessed
      operationId: {{ operation_id_namespace }}post_bigquery_bytes_processed
      description: |
        Create a BigQueryBytesProcessed by passing a BigQueryBytesProcessed object, without an id.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: BigQueryBytesProcessed to create
        required: true
        schema:
          $ref: '#/definitions/BigQueryBytesProcessed'
      responses:
        201:
          description: BigQueryBytesProcessed created, returning the created object with an id
          schema:
            $ref: '#/definitions/BigQueryBytesProcessed'
        401:
          {% if api_client -%}description: API key is missing or invalid{%- endif %}
          $ref: '#/responses/UnauthorizedError'

#  /v2/query:
#    get:
#      operationId: app.searchv2
#      tags:
#        - Query
#      summary: An example of how to create v2 of an API endpoint
#      description: An example of how to create v2 of an API endpoint
#      responses:
#        '200':
#          description: Successfully return query results

definitions:
  QueryResponse:
    type: object
    properties:
      version:
        type: string
        description: The API version
        example: 'v1'
      index:
        type: string
        description: The full name of the elasticsearch index that is searched
        example: 'citations-country-20201212'
      scroll_id:
        type: string
        description: The scroll id that can be used to get the next batch of results (only active for 1min)
        example: 'FGluY2x1ZGVfY29udGV4dF91dWlkDXF1ZXJ5QW5kRmV0Y2gBFlFkWThoZy1FUTZPQ2JhcXpGSnFjTEEAAAAAALEIyRZYRkVGWmNSRVRqU0VpTFdYbGFPUERR'
      returned_hits:
        type: integer
        description: The number of returned hits (can be less than total_hits if a limit is set)
        example: 10000
      total_hits:
        type: integer
        description: The number of total hits
        example: 126538
      schema:
        type: object
        description: The schema for an individual hit
        example: ''
      results:
        type: array
        description: A list of the actual results (one dictionary per hit)
        items:
          type: object

  TelescopeType:
    type: object
    properties:
      id:
        type: integer
        example: 1
      type_id:
        type: string
        example: onix
        minLength: 1
        maxLength: 250
      name:
        type: string
        example: Scopus
        minLength: 1
        maxLength: 250
      created:
        type: string
        format: date-time
        example: 2020-01-01T20:01:05Z
        readOnly: true
      modified:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        readOnly: true

  Telescope:
    type: object
    properties:
      id:
        type: integer
        example: 1
      name:
        type: string
        example: Curtin University ONIX Telescope
        minLength: 1
        maxLength: 250
        x-nullable: true
      extra:
        type: object
        example: {'view-id': '830'}
        minLength: 1
        maxLength: 512
        x-nullable: true
      organisation:
        $ref: '#/definitions/Organisation'
      telescope_type:
        $ref: '#/definitions/TelescopeType'
      datasets:
        type: array
        items:
          $ref: '#/definitions/Dataset'
      created:
        type: string
        format: date-time
        example: 2020-01-01T20:01:05Z
        readOnly: true  
      modified:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        readOnly: true

  Organisation:
    type: object
    properties:
      id:
        type: integer
        example: 1
      name:
        type: string
        example: Curtin University
        minLength: 1
        maxLength: 250
      gcp_project_id:
        type: string
        example: curtin-dev
        minLength: 6
        maxLength: 30
        x-nullable: true
      gcp_download_bucket:
        type: string
        example: curtin-dev-download
        minLength: 3
        maxLength: 222
        x-nullable: true
      gcp_transform_bucket:
        type: string
        example: curtin-dev-transform
        minLength: 3
        maxLength: 222
        x-nullable: true
      telescopes:
        type: array
        readOnly: true
        items:
          $ref: '#/definitions/Telescope'
      created:
        type: string
        format: date-time
        example: 2020-01-01T20:01:05Z
        readOnly: true
      modified:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        readOnly: true

  DatasetStorage:
    type: object
    properties:
      id:
        type: integer
        example: 1
      service:
        type: string
        example: google
        minLength: 1
        maxLength: 250
      address:
        type: string
        example: curtin_gcp_project_id.my_dataset_id.my_table
        minLength: 1
        maxLength: 250
      extra:
        type: object
        example: {'table_type': 'partitioned'}
        minLength: 1
        maxLength: 500
        x-nullable: true
      dataset:
        $ref: '#/definitions/Dataset'
      created:
        type: string
        format: date-time
        example: 2020-01-01T20:01:05Z
        readOnly: true
      modified:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        readOnly: true

  DatasetRelease:
    type: object
    properties:
      id:
        type: integer
        example: 1
      schema_version:
        type: string
        example: 20211031
        minLength: 1
        maxLength: 250
      schema_version_alt:
        type: string
        example: wok5.4
        x-nullable: true
        minLength: 1
        maxLength: 250
      start_date:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
      end_date:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        x-nullable: true
      ingestion_start:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        x-nullable: true
      ingestion_end:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        x-nullable: true
      dataset:
        $ref: '#/definitions/Dataset'
      created:
        type: string
        format: date-time
        example: 2020-01-01T20:01:05Z
        readOnly: true
      modified:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        readOnly: true

  Dataset:
    type: object
    properties:
      id:
        type: integer
        example: 1
      name:
        type: string
        example: RoR
        minLength: 1
        maxLength: 250
      connection:
        $ref: '#/definitions/Telescope'
      extra:
        type: object
        example: {'isbn_field': 'ISBN', 'type': 'snapshot'}
        minLength: 1
        maxLength: 512
        x-nullable: true
      created:
        type: string
        format: date-time
        example: 2020-01-01T20:01:05Z
        readOnly: true
      modified:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        readOnly: true

  BigQueryBytesProcessed:
    type: object
    properties:
      id:
        type: integer
        example: 1
      project:
        type: string
        example: coki
        minLength: 3
        maxLength: 222
      total:
        type: integer
        example: 0
      created:
        type: string
        format: date-time
        example: 2020-01-01T20:01:05Z
        readOnly: true
      modified:
        type: string
        format: date-time
        example: 2020-01-02T20:01:05Z
        readOnly: true

responses:
  UnauthorizedError:
    description: API key is missing or invalid
    headers:
      WWW_Authenticate:
        type: string
