{
  "mappings": {
    "properties": {
      "{{ aggregate }}_id": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "{{ aggregate }}_name": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "{{ aggregate }}_country": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "{{ aggregate }}_country_code": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "{{ aggregate }}_region": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "{{ aggregate }}_subregion": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "{{ aggregate }}_coordinates": {
        "type": "geo_point"
      },
      "published_year": {
        "type": "date",
        "format": "yyyy-MM-dd"
      },
      "field": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "disciplines_total_outputs": {
        "type": "long"
      },
      "disciplines_sum_of_scores": {
        "type": "double"
      },
      "disciplines_num_oa_outputs": {
        "type": "long"
      },
      "disciplines_num_green_outputs": {
        "type": "long"
      },
      "disciplines_num_gold_outputs": {
        "type": "long"
      },
      "disciplines_percent_oa": {
        "type": "double"
      },
      "disciplines_percent_green": {
        "type": "double"
      },
      "disciplines_percent_gold": {
        "type": "double"
      },
      "disciplines_total_citations": {
        "type": "long"
      },
      "disciplines_median_citations_per_output": {
        "type": "double"
      },
      "disciplines_total_funded_outputs": {
        "type": "long"
      },
      "disciplines_num_international_funded_outputs": {
        "type": "long"
      },
      "disciplines_num_domestic_funded_outputs": {
        "type": "long"
      },
      "disciplines_num_international_and_domestic_funded_outputs": {
        "type": "long"
      },
      "disciplines_num_government_funded_outputs": {
        "type": "long"
      },
      "disciplines_num_private_funded_outputs": {
        "type": "long"
      },
      "disciplines_num_government_and_private_funded_outputs": {
        "type": "long"
      }
    }
  }
}