{
  "mappings": {
    "properties": {
      "{{ aggregration_level }}_id": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "title": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "published_year": {
        "type": "long"
      },
      "month": {
        "type": "date",
        "format": "yyyy-MM-dd"
      },
      "country_code": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "country_name": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "jstor": {
        "properties": {
          "Total_Item_Requests": {
            "type": "integer"
          }
        }
      },
      "oapen_irus_uk": {
        "properties": {
          "title_requests": {
            "type": "integer"
          },
          "total_item_investigations": {
            "type": "integer"
          },
          "total_item_requests": {
            "type": "integer"
          },
          "unique_item_investigations": {
            "type": "integer"
          },
          "unique_item_requests": {
            "type": "integer"
          }
        }
      },
      "google_analytics": {
        "properties": {
          "value": {
            "type": "integer"
          }
        }
      }
    }
  }
}