{
  "mappings": {
    "properties": {
      "{{ aggregration_level }}_id": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "title": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "published_year": {
        "type": "long"
      },
      "month": {
        "type": "date",
        "format": "yyyy-MM-dd"
      },
      "institution": {
        "type": "text",
        "fields": {
          "keyword": {
            "type": "keyword",
            "ignore_above": 256
          }
        }
      },
      "jstor": {
        "properties": {
          "Total_Item_Requests": {
            "type": "integer",
          }
        }
      }
    }
  }
}