[run]
branch=True
source=observatory

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == "__main__":
    if __name__ == '__main__':
    @abstract
ignore_errors = True
omit =
    tests/*
    observatory-api/observatory/api/client/api_client.py
    observatory-api/observatory/api/client/configuration.py
    observatory-api/observatory/api/client/exceptions.py
    observatory-api/observatory/api/client/model_utils.py
    observatory-api/observatory/api/client/rest.py
