.idea
venv
*.egg-info
dist
.vscode
docs/_build
config.yaml
*.pkrvars.hcl
*.tfvars
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
.terraform/**
.coverage
coverage.xml
config_terraform.yaml
*.pyc
AUTHORS
ChangeLog
.eggs/
.DS_Store
