**/fixtures/** filter=lfs diff=lfs merge=lfs -text
docs/* linguist-documentation
notebooks/* linguist-documentation
*.csv filter=lfs diff=lfs merge=lfs -text
/home/jamie/workspaces/coki/observatory-platform/observatory_platform/airflow/tests/fixtures/* filter=lfs diff=lfs merge=lfs -text
