version: '3.8'

x-environment: &environment
  # Observatory platform project dir
  AO_HOME: "/opt/observatory/observatory-platform"

# Airflow settings
  AIRFLOW__CORE__EXECUTOR: CeleryExecutor
  AIRFLOW__CORE__SQL_ALCHEMY_CONN: "postgres://airflow:${POSTGRES_PASSWORD}@${POSTGRES_HOSTNAME}:5432/airflow"
  AIRFLOW__CORE__FERNET_KEY: "${FERNET_KEY}"
  AIRFLOW__CORE__AIRFLOW_HOME: ${AIRFLOW_HOME}
  AIRFLOW__CORE__LOAD_EXAMPLES: "False"
  AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS: "False"
  AIRFLOW__CORE__ENABLE_XCOM_PICKLING: "True"
  AIRFLOW__WEBSERVER__RBAC: "True"
  AIRFLOW__CELERY__BROKER_URL: "redis://:@${REDIS_HOSTNAME}:6379/0"
  AIRFLOW__CELERY__RESULT_BACKEND: "db+postgresql://airflow:${POSTGRES_PASSWORD}@${POSTGRES_HOSTNAME}:5432/airflow"
  AIRFLOW__SECRETS__BACKEND: "airflow.contrib.secrets.gcp_secrets_manager.CloudSecretsManagerBackend"
  AIRFLOW__SECRETS__BACKEND_KWARGS: "{'connections_prefix': 'airflow-connections', 'variables_prefix': 'airflow-variables', 'sep': '-'}"

  # Paths to google credentials and UI user settings
  GOOGLE_APPLICATION_CREDENTIALS: "/run/secrets/google_application_credentials.json"
  AIRFLOW_UI_USER_EMAIL: ${AIRFLOW_UI_USER_EMAIL}
  AIRFLOW_UI_USER_PASSWORD: ${AIRFLOW_UI_USER_PASSWORD}

  # Variables
  AIRFLOW_VAR_DATA_PATH: "/opt/observatory/data"
  AIRFLOW_VAR_PROJECT_ID: ${AIRFLOW_VAR_PROJECT_ID}
  AIRFLOW_VAR_DATA_LOCATION: ${AIRFLOW_VAR_DATA_LOCATION}
  AIRFLOW_VAR_DOWNLOAD_BUCKET_NAME: ${AIRFLOW_VAR_DOWNLOAD_BUCKET_NAME}
  AIRFLOW_VAR_TRANSFORM_BUCKET_NAME: ${AIRFLOW_VAR_TRANSFORM_BUCKET_NAME}
  AIRFLOW_VAR_ENVIRONMENT: ${AIRFLOW_VAR_ENVIRONMENT}
  AIRFLOW_VAR_TERRAFORM_ORGANIZATION: ${AIRFLOW_VAR_TERRAFORM_ORGANIZATION}
  AIRFLOW_VAR_TERRAFORM_PREFIX: ${AIRFLOW_VAR_TERRAFORM_PREFIX}

x-network-mode: &networks
  network_mode: "host"
