ray==0.8.*
lxml==4.4.*
beautifulsoup4==4.8.*
validators==0.14.*
pandas==0.25.*
natsort==7.0.*
psutil==5.6.*
tldextract==2.2.*
setproctitle==1.1.*
requests==2.23.*
urllib3==1.25.*
numpy==1.18.*
certifi>=2019.11.28
python-dateutil==2.8.*
requests-file==1.4.*
git+git://github.com/jdddog/sickle@503_error_fix#egg=sickle
six==1.13.*
boto3==1.10.*
warcio==1.7.*
google-cloud-bigquery==1.23.*
httpretty==0.9.*
aiohttp==3.6.*
grpcio==1.26.*
matplotlib==3.1.*
jupyter==1.0.*
seaborn==0.10.*
click==7.1.*
docker-compose==1.25.*
apache-airflow==1.10.6
Cerberus==1.3.*
num2words>=0.5.9
pandas-gbq>=0.13.2
pydata-google-auth>=1.1.0
xhtml2pdf>=0.2.4
weasyprint==51
precipy>=0.2.2
geopandas>=0.7.0
ipython>=7.15.0
tables>=3.6.1
descartes>=1.1.0
