beautifulsoup4>=4.8.1
certifi>=2019.11.28
lxml>=4.4.2
natsort>=6.2.0
pandas>=0.25.3
psutil>=5.6.7
python-dateutil>=2.8.1
ray>=0.8.0
setproctitle>=1.1.10
requests>=2.22.0
requests-file>=1.4.3
git+git://github.com/jdddog/sickle@503_error_fix#egg=sickle
tldextract>=2.2.2
urllib3>=1.25.7
validators>=0.14.1
six>=1.13.0
numpy>=1.17.4