{# Copyright 2020 Curtin University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Author: Richard Hosking #}

WITH onix_ebook_titles as (
    SELECT ISBN13, STRUCT(Doi, ProductForm, EditionNumber, TitleDetails, Subjects) as onix FROM `oaebu-anu-press.onix.onix20210601`
    WHERE ProductForm = "Digital download and online" OR ProductForm = "Digital (delivered electronically)"
),

{% if google_analytics %}
# Google Analytics
google_analytics_metrics as (
    SELECT
        publication_id as ISBN13, release_date, STRUCT(STRUCT(AVG(average_time) as average_time, ARRAY_CONCAT_AGG(unique_views.country) as country, ARRAY_CONCAT_AGG(unique_views.referrer) as referrer, ARRAY_CONCAT_AGG(unique_views.social_network) as social_network) as unique_views) as metrics
    FROM `oaebu-anu-press.oaebu_intermediate.google_google_analytics_matched20210601`
    WHERE publication_whole_or_part = '(citation)' and publication_type = "book"
    GROUP BY publication_id, release_date
),
{% endif %}

{% if google_books %}
# Google Books
google_books_sales_metrics as (
    SELECT
        Primary_ISBN as ISBN13, release_date, STRUCT(SUM(qty) as qty) as metrics
    FROM `oaebu-anu-press.oaebu_intermediate.google_google_books_sales_matched20210601` as google_books
    GROUP BY Primary_ISBN, release_date
),

google_books_sales_metadata as (
    SELECT
        Primary_ISBN as ISBN13, MAX(Imprint_Name) as Imprint_Name, MAX(Title) as Title, MAX(Author) as Author
    FROM `oaebu-anu-press.oaebu_intermediate.google_google_books_sales_matched20210601` as google_books
    GROUP BY Primary_ISBN
),

google_books_traffic_metrics as (
    SELECT
        Primary_ISBN  as ISBN13, release_date, STRUCT(Book_Visits_BV_, BV_with_Pages_Viewed, Non_Unique_Buy_Clicks, BV_with_Buy_Clicks, Buy_Link_CTR, Pages_Viewed) as metrics
    FROM `oaebu-anu-press.oaebu_intermediate.google_google_books_traffic_matched20210601` as google_books
),

google_books_traffic_metadata as (
    SELECT
        Primary_ISBN  as ISBN13, MAX(title) as Title
    FROM `oaebu-anu-press.oaebu_intermediate.google_google_books_traffic_matched20210601` as google_books
    GROUP BY Primary_ISBN
),
{% endif %}

{% if jstor %}
# JSTOR
jstor_country_metrics as (
    SELECT
        eISBN as ISBN13, release_date, ARRAY_AGG(STRUCT(Country_name, Total_Item_Requests)) as metrics
    FROM `oaebu-anu-press.oaebu_intermediate.jstor_jstor_country_matched20210601` as jstor_country
    GROUP BY eISBN, release_date
),

jstor_country_metadata as (
    SELECT
        eISBN as ISBN13, MAX(Book_Title) as Book_Title, MAX(Book_ID) as Book_ID, MAX(Authors) as Authors, MAX(ISBN) as ISBN, eISBN, MAX(Copyright_Year) as Copyright_Year, MAX(Disciplines) as Disciplines, MAX(Usage_Type) as Usage_Type
    FROM `oaebu-anu-press.oaebu_intermediate.jstor_jstor_country_matched20210601` as jstor_country
    GROUP BY eISBN
),

jstor_institution_metrics as (
    SELECT
        eISBN as ISBN13, release_date, ARRAY_AGG(STRUCT(Institution, Total_Item_Requests)) as metrics
    FROM `oaebu-anu-press.oaebu_intermediate.jstor_jstor_institution_matched20210601` as jstor_country
    GROUP BY eISBN, release_date
),

jstor_institution_metadata as (
    SELECT
        eISBN as ISBN13, MAX(Book_Title) as Book_Title, MAX(Book_ID) as Book_ID, MAX(Authors) as Authors, MAX(ISBN) as ISBN, eISBN, MAX(Copyright_Year) as Copyright_Year, MAX(Disciplines) as Disciplines, MAX(Usage_Type) as Usage_Type
    FROM `oaebu-anu-press.oaebu_intermediate.jstor_jstor_institution_matched20210601` as jstor_institution
    GROUP BY eISBN
),
{% endif %}

{% if oapen %}
# OAPEN IRUS UK
oapen_irus_uk_metrics as (
    SELECT
        ISBN as ISBN13, release_date, STRUCT(version, title_requests, total_item_investigations, total_item_requests, unique_item_investigations, unique_item_requests, country, locations) as metrics
    FROM `oaebu-anu-press.oaebu_intermediate.oapen_oapen_irus_uk_matched20210601` as oapen_irus_uk
),

oapen_irus_uk_metadata as (
    SELECT
        ISBN as ISBN13, MAX(book_title) as book_title, MAX(publisher) as publisher
    FROM `oaebu-anu-press.oaebu_intermediate.oapen_oapen_irus_uk_matched20210601` as oapen_irus_uk
    GROUP BY ISBN
),
{% endif %}

{% if ucl %}
# TODO UCL Discovery
{% endif %}

crossref_events as (
    SELECT
        public_data.isbn as ISBN13,
        LAST_DAY(DATE(CAST(SPLIT(month_source.month, "-")[OFFSET(0)] as INT64), CAST(SPLIT(month_source.month, "-")[OFFSET(1)] as INT64), 1), MONTH) as release_date,
        ARRAY_AGG(STRUCT(month_source.source, month_source.count)) as metrics
    FROM `academic-observatory.observatory.book20210529` as public_data, UNNEST(public_data.events.months) as month_source
    GROUP BY public_data.isbn, month_source.month
),


unique_releases as (
    SELECT
        DISTINCT(release_date) as release_date,
    FROM
        UNNEST(ARRAY_CONCAT(
            ARRAY(SELECT DISTINCT(release_date) FROM crossref_events)
            {% if google_analytics %},ARRAY(SELECT DISTINCT(release_date) FROM google_analytics_metrics){% endif %}
            {% if google_books %},ARRAY(SELECT DISTINCT(release_date) FROM google_books_sales_metrics){% endif %},
            ARRAY(SELECT DISTINCT(release_date) FROM google_books_traffic_metrics){% endif %}
            {% if jstor %},ARRAY(SELECT DISTINCT(release_date) FROM jstor_country_metrics),
            ARRAY(SELECT DISTINCT(release_date) FROM jstor_institution_metrics){% endif %}
            {% if oapen %},ARRAY(SELECT DISTINCT(release_date) FROM oapen_irus_uk_metrics){% endif %}
        )
    ) as release_date
    ORDER BY release_date DESC
),

ebook_months as (
    SELECT
        ISBN13, release_date
    FROM onix_ebook_titles
    LEFT JOIN unique_releases on 1 = 1
    ORDER BY ISBN13, release_date DESC
),

metrics as (
    SELECT
        ebook_months.ISBN13,
        ARRAY_AGG(STRUCT(
            ebook_months.release_date as month,
            crossref_events.metrics as crossref_events
            {% if google_analytics %},google_analytics.metrics as google_analytics{% endif %}{% if google_books %},
            google_books_sales.metrics as google_books_sales,
            google_books_traffic.metrics as google_books_traffic{% endif %}
            {% if jstor %},jstor_country.metrics as jstor_country,
            jstor_institution.metrics as jstor_institution{% endif %}
            {% if oapen %},oapen_irus_uk.metrics as oapen_irus_uk{% endif %}
        ) ORDER BY ebook_months.release_date DESC) as months
    FROM ebook_months
    {% if google_analytics %}LEFT JOIN google_analytics_metrics as google_analytics ON ebook_months.ISBN13 = google_analytics.ISBN13 AND ebook_months.release_date = google_analytics.release_date
    {% if google_books %}LEFT JOIN google_books_sales_metrics as google_books_sales ON ebook_months.ISBN13 = google_books_sales.ISBN13 AND ebook_months.release_date = google_books_sales.release_date
    LEFT JOIN google_books_traffic_metrics as google_books_traffic ON ebook_months.ISBN13 = google_books_traffic.ISBN13 AND ebook_months.release_date = google_books_traffic.release_date{% endif %}
    {% if jstor %}LEFT JOIN jstor_country_metrics as jstor_country ON ebook_months.ISBN13 = jstor_country.ISBN13 AND ebook_months.release_date = jstor_country.release_date
    LEFT JOIN jstor_institution_metrics as jstor_institution ON ebook_months.ISBN13 = jstor_institution.ISBN13 AND ebook_months.release_date = jstor_institution.release_date{% endif %}
    {% if oapen %}LEFT JOIN oapen_irus_uk_metrics as oapen_irus_uk ON ebook_months.ISBN13 = oapen_irus_uk.ISBN13 AND ebook_months.release_date = oapen_irus_uk.release_date{% endif %}
    LEFT JOIN crossref_events  as crossref_events ON ebook_months.ISBN13 = crossref_events.ISBN13 AND ebook_months.release_date = crossref_events.release_date
    WHERE
        crossref_events.metrics IS NOT NULL
        {% if google_books %}OR google_books_sales.metrics IS NOT NULL
        OR google_books_traffic.metrics IS NOT NULL{% endif %}
        {% if jstor %}OR jstor_country.metrics IS NOT NULL
        OR jstor_institution.metrics is not null {% endif %}
        {% if oapen %}OR oapen_irus_uk.metrics IS NOT NULL{% endif %}
    GROUP BY ebook_months.ISBN13
)

SELECT
    onix_ebook_titles.*,
    STRUCT(
        crossref_objects,
        chapters,
        events.overall as events
        {% if google_books %},google_books_sales_metadata as google_books_sales,
        google_books_traffic_metadata as google_books_traffic{% endif %}
        {% if jstor %},jstor_country_metadata as jstor_metadata,
        jstor_institution_metadata as jstor_institution_metadata{% endif %}
        {% if oapen %},oapen_irus_uk_metadata as oapen_irus_uk_metadata{% endif %}
    ) as metadata,
    metrics.months
FROM onix_ebook_titles
LEFT JOIN metrics as metrics on metrics.ISBN13 = onix_ebook_titles.ISBN13
{% if google_books %}LEFT JOIN google_books_sales_metadata on google_books_sales_metadata.ISBN13  = onix_ebook_titles.ISBN13
LEFT JOIN google_books_traffic_metadata on google_books_traffic_metadata.ISBN13  = onix_ebook_titles.ISBN13{% endif %}
{% if jstor %}LEFT JOIN jstor_country_metadata on jstor_country_metadata.ISBN13 = onix_ebook_titles.ISBN13
LEFT JOIN jstor_institution_metadata on jstor_institution_metadata.ISBN13 = onix_ebook_titles.ISBN13{% endif %}
{% if oapen %}LEFT JOIN oapen_irus_uk_metadata on oapen_irus_uk_metadata.ISBN13 = onix_ebook_titles.ISBN13{% endif %}
LEFT JOIN `academic-observatory.observatory.book20210529` as public_data on public_data.isbn = onix_ebook_titles.ISBN13