{#
Copyright 2020 Curtin University.
Authors: James Diprose, Richard Hosking
#}

SELECT
  id,
  name,
  country,
  country_code,
  region,
  subregion,
  coordinates,
  DATE(time_period, 12, 31) AS published_year,
  events.source,
  events.total_outputs,
  events.num_oa_outputs,
  events.num_green_outputs,
  events.num_gold_outputs
FROM
  `{{ project_id }}.{{ dataset_id }}.{{ table_name }}`,
  UNNEST(events) as events
ORDER BY id, published_year ASC