{#
Copyright 2020 Curtin University.
Authors: Richard Hosking
#}

SELECT
  id,
  name,
  country,
  country_code,
  region,
  subregion,
  coordinates,
  DATE(time_period, 12, 31) AS published_year,
  discipline.field,
  discipline.total_outputs,
  discipline.sum_of_scores,
  discipline.num_oa_outputs,
  discipline.num_green_outputs,
  discipline.num_gold_outputs,
  discipline.citations.mag.total_citations,
  discipline.citations.mag.percentiles.median as median_citations_per_output,
  discipline.funding.total_funded_outputs,
  discipline.funding.num_international_outputs as num_international_funded_outputs,
  discipline.funding.num_domestic_outputs as num_domestic_funded_outputs,
  discipline.funding.num_international_and_domestic_outputs as num_international_and_domestic_funded_outputs,
  discipline.funding.num_government_outputs as num_government_funded_outputs,
  discipline.funding.num_private_outputs as num_private_funded_outputs,
  discipline.funding.num_government_and_private_outputs as num_government_and_private_funded_outputs
FROM
  `{{ project_id }}.{{ dataset_id }}.{{ table_name }}`,
  UNNEST(disciplines.level0) as discipline
ORDER BY id, published_year ASC