{#
Copyright 2020 Curtin University.
Authors: James Diprose, Richard Hosking
#}

SELECT
  entity.id,
  entity.name,
  entity.country,
  entity.country_code,
  entity.region,
  entity.subregion,
  entity.coordinates,
  DATE(time_period, 12, 31) AS published_year,
  funder.name as funder_name,
  funder.country as funder_country,
  funder.country_code as funder_country_code,
  funder.funding_body_type as funder_type,
  funder.funding_body_subtype as funder_sub_type,
  funder.total_outputs,
  funder.num_oa_outputs,
  funder.num_green_outputs,
  funder.num_gold_outputs
FROM
  `{{ project_id }}.{{ dataset_id }}.{{ table_name }}` as entity,
  UNNEST(funders) as funder
ORDER BY entity.id, published_year ASC