{#
Copyright 2020 Curtin University.
Authors: Richard Hosking
#}

SELECT
  id,
  name,
  country,
  country_code,
  region,
  subregion,
  coordinates,
  DATE(time_period, 12, 31) AS published_year,
  publisher.publisher,
  publisher.total_outputs,
  publisher.num_oa_outputs,
  publisher.num_green_outputs,
  publisher.num_gold_outputs
FROM
  `{{ project_id }}.{{ dataset_id }}.{{ table_name }}`,
  UNNEST(publishers) as publisher
ORDER BY id, published_year ASC