{#
Copyright 2020 Curtin University.
Authors: Richard Hosking
#}

SELECT
  entity.id,
  entity.name,
  entity.country,
  entity.country_code,
  entity.region,
  entity.subregion,
  entity.coordinates,
  DATE(entity.time_period, 12, 31) AS published_year,
  collaborator.id as collaborator_id,
  collaborator.name as collaborator_name,
  collaborator.country as collaborator_country,
  collaborator.country_code as collaborator_country_code,
  collaborator.region as collaborator_region,
  collaborator.subregion as collaborator_subregion,
  collaborator.coordinates as collaborator_coordinates,
  collaborator.total_outputs as collaborator_total_outputs,
  collaborator.num_oa_outputs as collaborator_num_oa_outputs,
  collaborator.num_green_outputs as collaborator_num_green_outputs,
  collaborator.num_gold_outputs as collaborator_num_gold_outputs,
  collaborator.citations.mag.total_citations as collaborator_total_citations,
  collaborator.citations.mag.percentiles.median as collaborator_median_citations_per_output
FROM
  `{{ project_id }}.{{ dataset_id }}.{{ table_name }}` as entity,
  UNNEST(collaborations) as collaborator
ORDER BY entity.id, published_year ASC