{# Copyright 2020 Curtin University.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Authors: James Diprose, Richard Hosking #}

{% for oa_type in oa_types %}
SELECT
  id,
  name,
  country,
  country_code,
  region,
  subregion,
  coordinates,
  DATE(years.published_year, 12, 31) AS published_year,
  citations.label as oa_type,
  citations.articles,
  citations.articles_with_citations,
  citations.articles_without_citations,
  citations.citations
FROM `{{ project_id }}.{{ dataset_id }}.{{ table_name }}`, UNNEST(years) AS years, UNNEST(citations.{{ oa_type }}) as citations
{% if not loop.last %}
UNION ALL
{% endif %}
ORDER BY id, published_year ASC
