<!DOCTYPE html>
<html lang="en">
<head>
    <p>
        example queries:<br>
    http://0.0.0.0:5000/query?agg=institution&subset=journals&from=2018-01-15&to=2019-01-01&journal=Molecular
    %20Pharmaceutics (447 records, ~2 seconds)<br>
    http://0.0.0.0:5000/query?agg=country&subset=oa-metrics (11435 records, ~6 sec)<br>
    http://0.0.0.0:5000/query?agg=institution&subset=journals&id=grid.4691.a,grid.469280.1 (28479 records, ~9 sec)<br>
    http://0.0.0.0:5000/query?agg=country&subset=collaborations (268162 records, ~80 sec)<br>
    <br>
    possible filtering fields:<br>
    - id<br>
    - country<br>
    - country_code<br>
    - journal<br>
    - name<br>
    - region<br>
    - subregion<br>
    </p>

</head>
</html>