# Observatory API
observatory-api

# Airflow
apache-airflow==2.2.1
apache-airflow-providers-redis==2.0.1
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-slack==4.0.0
apache-airflow-providers-http==2.0.0
WTForms<3 # Fix ModuleNotFoundError: No module named 'wtforms.compat' error
Markdown==3.3.4 # prevent error: INSTALLED_EXTENSIONS = metadata.entry_points(group='markdown.extensions') TypeError: entry_points() got an unexpected keyword argument 'group'

# Google Cloud
google-crc32c>=1.1.0,<2
google-cloud-bigquery==2.1.*
google-api-python-client==2.0.*
google-cloud-storage==1.35.*
google-auth-oauthlib>=0.4.5,<1
google-cloud-secret-manager<2.0.0,>=0.2.0 # for Google Cloud Secret Manager backend

# Elasticsearch
elasticsearch>=7.13.3,<8

# Docker
docker-compose>=1.29.2,<2

# Command line interface, config files and templates
click>=7.1.2,<8
pyyaml>=5.1,<6
cerberus>=1.3.4,<2
Jinja2>=2.10.1,<3
stringcase>=1.2.0,<2
pyhcl>=0.4.4,<1
Sphinx>=4,<5

# Reading and writing jsonlines files
jsonlines>=2.0.0,<3  # Writing
json_lines>=0.5.0,<1 # Reading, including jsonl.gz

# HTTP requests and URL cleaning
requests>=2.25.0,<3
tldextract>=3.1.1
aiohttp>=3.7.0,<4

# SFTP
pysftp>=0.2.9<1
paramiko>=2.7.2,<3

# Utils
natsort>=7.1.1,<8
backoff>=1.11.0,<2
timeout-decorator
validators
xmltodict
pandas

# Test utils
freezegun>=1.1.0,<2
httpretty>=1.0.0,<2
sftpserver>=0.3,<1

# Backports
typing-extensions>=3.10.0.1,<4; python_version<'3.8'

# To remove in future
numpy>=1.20.3,<2
six>=1.16.0,<2

oauth2client==4.1.*
importlib-metadata==3.7.3
