<!DOCTYPE html>
<html lang="en">
<head>
    <p>
        example queries:<br>
        basepath is e.g. http://0.0.0.0:5000<br>
    basepath/query?agg=institution&subset=journals&from=2018-01-15&to=2019-01-01&journal=Molecular Pharmaceutics (447 records, ~2 seconds)<br>
    basepath/query?agg=country&subset=oa-metrics (11435 records, ~6 sec)<br>
    basepath/query?agg=institution&subset=journals&id=grid.4691.a,grid.469280.1 (28479 records, ~9 sec)<br>
    basepath/query?agg=country&subset=collaborations (268162 records, ~80 sec)<br>
    <br>
        For a complete overview of possible parameters, go to basepath/ui
    </p>

</head>
</html>