<!DOCTYPE html>
<html lang="en">
<head>
    <p>
        example queries:<br>
        basepath is e.g. https://0.0.0.0:5000<br>
    basepath/query?agg=institution&subset=journals&from=2018-01-15&to=2019-01-01&journal=Molecular Pharmaceutics&api_key=158f9f48b674b0fdd18e5b465d7ae37e (447 records, ~2 seconds)<br>
    basepath/query?agg=country&subset=oa-metrics&api_key=158f9f48b674b0fdd18e5b465d7ae37e (11435 records, ~6 sec)<br>
    basepath/query?agg=institution&subset=journals&id=grid.4691.a,grid.469280.1&api_key=158f9f48b674b0fdd18e5b465d7ae37e (28479 records, ~9 sec)<br>
    basepath/query?agg=country&subset=collaborations&api_key=158f9f48b674b0fdd18e5b465d7ae37e (268162 records, ~80 sec)<br>
    <br>
        For a complete overview of possible parameters, go to basepath/ui
    </p>

</head>
</html>