{# Copyright 2023 Curtin University
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.#}

{% set main_table_primary_key_prefix = main_table_primary_key_prefix | default('') %}
{% set delete_table_primary_key_prefix = delete_table_primary_key_prefix | default('') %}

MERGE `{{ main_table_id }}` main_table
USING `{{ delete_table_id }}` delete_table
ON (
{%- for (main_table_key, delete_table_key) in zip(main_table_keys, delete_table_keys) %}
   CONCAT('{{ main_table_primary_key_prefix }}', main_table.{{ main_table_key }}) = CONCAT('{{ delete_table_primary_key_prefix }}', delete_table.{{ delete_table_key }}){% if not loop.last %} AND{% endif %}
{%- endfor %}
)
WHEN MATCHED THEN DELETE;