# The backend type: terraform
# The environment type: develop, staging or production
backend:
  type: terraform-api
  environment: develop

# Terraform settings
terraform:
  organization: my-terraform-org-name <--

# Google Cloud settings
google_cloud:
  project_id: my-gcp-id <--
  credentials: /path/to/google_application_credentials.json <--
  region: us-west1 <--
  zone: us-west1-a <--
  data_location: us <--

# API specific settings
api:
  name: academic-observatory <--
  package_path: /path/to/package/academic_observatory_workflows_api <--
  domain_name: api.observatory.academy <--
  subdomain: project_id
  image_tag: latest
  type: data_api/observatory_api <--
#  build_info: 2021.09.01 <--
#  elasticsearch_host: https://address.region.gcp.cloud.es.io:port <--
#  elasticsearch_api_key: API_KEY <--
