name: Unit Tests

on:
  push:
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.8 ]
        os: [ ubuntu-20.04 ]

    steps:
      - name: Checkout ${{ matrix.python-version }}
        uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

          cd ..
          git clone --single-branch --branch feature/remove-observatory-dags https://github.com/The-Academic-Observatory/observatory-platform.git observatory-platform-2
          cd observatory-platform-2
          pip install -e observatory-api
          pip install -e observatory-platform
          cd ..

          cd observatory-platform
          pip install -e .[tests]
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Check licenses
        run: |
          # stop the build if there are licensing issues
          liccheck --sfile strategy.ini --rfile requirements.txt --level CAUTIOUS --reporting liccheck-output.txt --no-deps

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Run unit tests with coverage
        env:
          TEST_AZURE_CONTAINER_NAME: ${{ secrets.TEST_AZURE_CONTAINER_NAME }}
          TEST_AZURE_CONTAINER_SAS_TOKEN: ${{ secrets.TEST_AZURE_CONTAINER_SAS_TOKEN }}
          TEST_AZURE_STORAGE_ACCOUNT_NAME: ${{ secrets.TEST_AZURE_STORAGE_ACCOUNT_NAME }}
          TEST_AWS_KEY_ID: ${{ secrets.TEST_AWS_KEY_ID }}
          TEST_AWS_SECRET_KEY: ${{ secrets.TEST_AWS_SECRET_KEY }}
          TEST_AWS_BUCKET_NAME: ${{ secrets.TEST_AWS_BUCKET_NAME }}
          TEST_GCP_DATA_LOCATION: ${{ secrets.TEST_GCP_DATA_LOCATION }}
          TEST_GCP_BUCKET_NAME: ${{ secrets.TEST_GCP_BUCKET_NAME }}
          TEST_GCP_PROJECT_ID: ${{ secrets.TEST_GCP_PROJECT_ID }}
          TEST_GCP_SERVICE_KEY: ${{ secrets.TEST_GCP_SERVICE_KEY }}
          GOOGLE_APPLICATION_CREDENTIALS: /tmp/google_application_credentials.json
          TEST_TERRAFORM_TOKEN: ${{ secrets.TEST_TERRAFORM_TOKEN }}
          TEST_TERRAFORM_ORGANISATION: ${{ secrets.TEST_TERRAFORM_ORGANISATION }}
          TEST_ELASTIC_HOST: ${{ secrets.TEST_ELASTIC_HOST }}
          TEST_KIBANA_HOST: ${{ secrets.TEST_KIBANA_HOST }}
        run: |
          echo "${TEST_GCP_SERVICE_KEY}" | base64 --decode > /tmp/google_application_credentials.json
          coverage run -m unittest discover
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          fail_ci_if_error: false
